## Introduction 

In this project, we'll be predicting House Sale Prices byt exploring some ways to improve the models we'll be building.

We'll be wroking with housing data for the city of Ames, Iowa, United States from 2006 to 2010. 
You can read more about why the data was collected [here](https://www.tandfonline.com/doi/abs/10.1080/10691898.2011.11889627). You can also read about the different columns in the data [here](https://s3.amazonaws.com/dq-content/307/data_description.txt).

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression 
from sklearn import linear_model
import matplotlib.pyplot as plt 
import seaborn as sns
from sklearn.metrics import mean_squared_error

In [2]:
df = pd.read_csv("AmesHousing.tsv", delimiter="\t")

In [3]:


def transform_features(df):
    return df

def select_features(df):
    return df[["Gr Liv Area", "SalePrice"]]

def train_and_test(df):  
    train = df[:1460]
    test = df[1460:]
    
   
    numeric_train = train.select_dtypes(include=['integer', 'float'])
    numeric_test = test.select_dtypes(include=['integer', 'float'])
    
    features = numeric_train.columns.drop("SalePrice")
    lr = linear_model.LinearRegression()
    lr.fit(train[features], train["SalePrice"])
    predictions = lr.predict(test[features])
    mse = mean_squared_error(test["SalePrice"], predictions)
    rmse = np.sqrt(mse)
    
    return rmse

transform_df = transform_features(df)
filtered_df = select_features(transform_df)
rmse = train_and_test(filtered_df)

rmse

57088.25161263909


## Feature Engineering

Handling missing values:

* All columns:

  * Dropping any with 5% or more missing values for now.

* Text columns:

  * Dropping any with 1 or more missing values for now.

* Numerical columns:

  * For columns with missing values, we're filling in with the most common value in that column

## 1: All columns:

We're dropping any column with 5% or more missing values for now.

In [4]:
null_series = df.isnull().sum()
print(null_series)

Order                0
PID                  0
MS SubClass          0
MS Zoning            0
Lot Frontage       490
Lot Area             0
Street               0
Alley             2732
Lot Shape            0
Land Contour         0
Utilities            0
Lot Config           0
Land Slope           0
Neighborhood         0
Condition 1          0
Condition 2          0
Bldg Type            0
House Style          0
Overall Qual         0
Overall Cond         0
Year Built           0
Year Remod/Add       0
Roof Style           0
Roof Matl            0
Exterior 1st         0
Exterior 2nd         0
Mas Vnr Type        23
Mas Vnr Area        23
Exter Qual           0
Exter Cond           0
                  ...
Bedroom AbvGr        0
Kitchen AbvGr        0
Kitchen Qual         0
TotRms AbvGrd        0
Functional           0
Fireplaces           0
Fireplace Qu      1422
Garage Type        157
Garage Yr Blt      159
Garage Finish      159
Garage Cars          1
Garage Area          1
Garage Qual        159
Garage Cond        159
Paved Drive          0
Wood Deck SF         0
Open Porch SF        0
Enclosed Porch       0
3Ssn Porch           0
Screen Porch         0
Pool Area            0
Pool QC           2917
Fence             2358
Misc Feature      2824
Misc Val             0
Mo Sold              0
Yr Sold              0
Sale Type            0
Sale Condition       0
SalePrice            0
Length: 82, dtype: int64

In [5]:


# Filtering Series to columns containing >5% missing values
drop_missing_cols = null_series[(null_series > len(df)/20)].sort_values()

# Dropping those columns from the data frame. Note the use of the .index accessor
df = df.drop(drop_missing_cols.index, axis=1)

## 2: Text columns: 

We're dropping any column with 1 or more missing values for now.

In [6]:
## Series object: column name -> number of missing values
text_mv_counts = df.select_dtypes(include=['object']).isnull().sum().sort_values(ascending=False)

## Filtering Series to columns containing *any* missing values
drop_missing_cols_2 = text_mv_counts[text_mv_counts > 0]

df = df.drop(drop_missing_cols_2.index, axis=1)



## 3: Numerical columns: 

For columns with missing values, We will fill in with the most common value in that column

In [7]:
## Computing column-wise missing value counts
num_missing = df.select_dtypes(include=['int', 'float']).isnull().sum()
fixable_numeric_cols = num_missing[(num_missing < len(df)/20) & (num_missing > 0)].sort_values()
fixable_numeric_cols

BsmtFin SF 1       1
BsmtFin SF 2       1
Bsmt Unf SF        1
Total Bsmt SF      1
Garage Cars        1
Garage Area        1
Bsmt Full Bath     2
Bsmt Half Bath     2
Mas Vnr Area      23
dtype: int64

In [8]:
## Computing the most common value for each column in `fixable_nmeric_missing_cols`.
replacement_values_dict = df[fixable_numeric_cols.index].mode().to_dict(orient='records')[0]
replacement_values_dict

{'Bsmt Full Bath': 0.0,
 'Bsmt Half Bath': 0.0,
 'Bsmt Unf SF': 0.0,
 'BsmtFin SF 1': 0.0,
 'BsmtFin SF 2': 0.0,
 'Garage Area': 0.0,
 'Garage Cars': 2.0,
 'Mas Vnr Area': 0.0,
 'Total Bsmt SF': 0.0}

In [9]:

df = df.fillna(replacement_values_dict)
## Verify that every column has 0 missing values
df.isnull().sum().value_counts()

0    64
dtype: int64



**The question at this stage is as follow:**
What new features can we create, that better capture the information in some of the features?

In [10]:


years_sold = df['Yr Sold'] - df['Year Built']
years_sold[years_sold < 0]

2180   -1
dtype: int64

In [11]:


years_since_remod = df['Yr Sold'] - df['Year Remod/Add']
years_since_remod[years_since_remod < 0]

1702   -1
2180   -2
2181   -1
dtype: int64

In [12]:
## Creating new columns
df['Years Before Sale'] = years_sold
df['Years Since Remod'] = years_since_remod

## Dropping rows with negative values for both of these new features
df = df.drop([1702, 2180, 2181], axis=0)

## No longer need original year columns
df = df.drop(["Year Built", "Year Remod/Add"], axis = 1)



**We're also dropping columns :**

* that aren't useful for ML
* that leak data about the final sale, read more about columns [here](http://jse.amstat.org/v19n3/decock/DataDocumentation.txt).

In [13]:
## Dropping columns that aren't useful for ML
df = df.drop(["PID", "Order"], axis=1)

## Dropping columns that leak info about the final sale
df = df.drop(["Mo Sold", "Sale Condition", "Sale Type", "Yr Sold"], axis=1)

## features selection

In [14]:
# selecting numerical features 
numerical_ft= df.select_dtypes(include= ['int', 'float'])
corrmat= numerical_ft.corr()
sorted_values= corrmat['SalePrice'].abs().sort_values()
sorted_values

BsmtFin SF 2         0.006127
Misc Val             0.019273
3Ssn Porch           0.032268
Bsmt Half Bath       0.035875
Low Qual Fin SF      0.037629
Pool Area            0.068438
MS SubClass          0.085128
Overall Cond         0.101540
Screen Porch         0.112280
Kitchen AbvGr        0.119760
Enclosed Porch       0.128685
Bedroom AbvGr        0.143916
Bsmt Unf SF          0.182751
Lot Area             0.267520
2nd Flr SF           0.269601
Bsmt Full Bath       0.276258
Half Bath            0.284871
Open Porch SF        0.316262
Wood Deck SF         0.328183
BsmtFin SF 1         0.439284
Fireplaces           0.474831
TotRms AbvGrd        0.498574
Mas Vnr Area         0.506983
Years Since Remod    0.534985
Full Bath            0.546118
Years Before Sale    0.558979
1st Flr SF           0.635185
Garage Area          0.641425
Total Bsmt SF        0.644012
Garage Cars          0.648361
Gr Liv Area          0.717596
Overall Qual         0.801206
SalePrice            1.000000
Name: SalePrice, dtype: float64

In [15]:
#We'll keep only the features with a correlation greater than 0.4
sorted_values_2= numerical_ft.drop(sorted_values[sorted_values < 0.4].index, axis=1)
sorted_values_2

,Overall Qual,Mas Vnr Area,BsmtFin SF 1,Total Bsmt SF,1st Flr SF,Gr Liv Area,Full Bath,TotRms AbvGrd,Fireplaces,Garage Cars,Garage Area,SalePrice,Years Before Sale,Years Since Remod
0,6,112.0,639.0,1080.0,1656,1656,1,7,2,2.0,528.0,215000,50,50
1,5,0.0,468.0,882.0,896,896,1,5,0,1.0,730.0,105000,49,49
2,6,108.0,923.0,1329.0,1329,1329,1,6,0,1.0,312.0,172000,52,52
3,7,0.0,1065.0,2110.0,2110,2110,2,8,2,2.0,522.0,244000,42,42
4,5,0.0,791.0,928.0,928,1629,2,6,1,2.0,482.0,189900,13,12
5,6,20.0,602.0,926.0,926,1604,2,7,1,2.0,470.0,195500,12,12
6,8,0.0,616.0,1338.0,1338,1338,2,6,0,2.0,582.0,213500,9,9
7,8,0.0,263.0,1280.0,1280,1280,2,5,0,2.0,506.0,191500,18,18
8,8,0.0,1180.0,1595.0,1616,1616,2,5,1,2.0,608.0,236500,15,14
9,7,0.0,0.0,994.0,1028,1804,2,7,1,2.0,442.0,189000,11,11
10,6,0.0,0.0,763.0,763,1655,2,7,1,2.0,440.0,175900,17,16
11,6,0.0,935.0,1168.0,1187,1187,2,6,0,2.0,420.0,185000,18,3
12,6,0.0,0.0,789.0,789,1465,2,7,1,2.0,393.0,180400,12,12
13,7,0.0,637.0,1300.0,1341,1341,1,5,1,2.0,506.0,171500,20,20
14,8,0.0,368.0,1488.0,1502,1502,1,4,0,2.0,528.0,212000,25,25
15,8,603.0,1416.0,1650.0,1690,3279,3,12,1,3.0,841.0,538000,7,7
16,8,0.0,427.0,559.0,1080,1752,2,8,0,2.0,492.0,164000,22,5
17,9,350.0,1445.0,1856.0,1856,1856,1,8,1,3.0,834.0,394432,0,0
18,4,0.0,120.0,864.0,864,864,1,4,0,2.0,400.0,141000,59,59
19,6,119.0,790.0,1542.0,2073,2073,2,7,2,2.0,500.0,210000,32,22
20,6,480.0,705.0,1844.0,1844,1844,2,7,1,2.0,546.0,190000,33,33
21,7,81.0,885.0,1053.0,1173,1173,2,6,2,2.0,528.0,170000,36,36
22,7,0.0,533.0,814.0,814,1674,2,7,0,2.0,663.0,216000,10,10
23,6,180.0,578.0,1004.0,1004,1004,1,5,1,2.0,480.0,149000,40,40
24,5,0.0,734.0,1078.0,1078,1078,1,6,1,2.0,500.0,149900,39,2
25,5,0.0,775.0,1056.0,1056,1056,1,6,1,1.0,304.0,142000,42,42
26,4,0.0,804.0,882.0,882,882,1,4,0,2.0,525.0,126000,40,40
27,4,0.0,432.0,864.0,864,864,1,5,1,0.0,0.0,115000,39,39
28,7,0.0,1051.0,1405.0,1337,1337,2,5,1,2.0,511.0,184000,11,11
29,6,504.0,156.0,483.0,483,987,1,5,0,1.0,264.0,96000,39,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2900,8,198.0,1350.0,1728.0,1960,1960,2,8,2,3.0,714.0,320000,1,0
2901,8,208.0,1460.0,1868.0,2028,2028,2,7,2,3.0,880.0,369900,1,0
2902,9,382.0,1455.0,1838.0,1838,1838,2,9,1,3.0,682.0,359900,1,0
2903,1,0.0,0.0,0.0,1600,1600,1,6,0,1.0,270.0,81500,55,55
2904,7,200.0,1243.0,1288.0,1368,1368,2,8,0,4.0,784.0,215000,9,9
2905,6,116.0,897.0,1216.0,1216,1216,2,5,0,2.0,402.0,164000,8,8
2906,6,443.0,1201.0,1237.0,1337,1337,2,5,0,2.0,405.0,153500,8,8
2907,5,0.0,0.0,1140.0,1140,1140,1,6,0,0.0,0.0,84500,0,0
2908,5,0.0,0.0,264.0,616,1304,1,5,1,1.0,336.0,104500,29,29
2909,5,0.0,548.0,757.0,925,1475,2,6,1,1.0,336.0,127000,29,29
2910,6,0.0,837.0,942.0,1291,2521,2,10,1,2.0,576.0,151400,33,33
2911,5,0.0,441.0,864.0,874,874,1,5,0,1.0,288.0,126500,38,3
2912,5,0.0,149.0,1652.0,1652,1652,2,8,0,3.0,928.0,146500,36,36
2913,4,0.0,522.0,630.0,630,630,1,3,0,0.0,0.0,73000,36,36
2914,4,0.0,252.0,546.0,546,1092,1,5,0,1.0,253.0,79400,34,34
2915,5,194.0,119.0,1104.0,1360,1360,1,8,1,1.0,336.0,140000,37,27
2916,5,0.0,553.0,630.0,630,630,1,3,0,0.0,0.0,92000,36,36
2917,4,0.0,408.0,546.0,546,1092,1,5,0,1.0,286.0,87550,36,36
2918,4,0.0,0.0,546.0,546,1092,1,5,0,0.0,0.0,79500,36,36
2919,4,0.0,0.0,546.0,546,1092,1,5,0,0.0,0.0,90500,36,36
2920,4,0.0,252.0,546.0,546,1092,1,6,0,1.0,286.0,71000,36,36
2921,6,0.0,936.0,1728.0,1728,1728,2,8,0,2.0,574.0,150900,30,30
2922,5,0.0,1606.0,1728.0,1728,1728,2,8,0,2.0,560.0,188000,30,30
2923,5,0.0,936.0,1126.0,1126,1126,2,5,1,2.0,484.0,160000,29,29
2924,5,0.0,1224.0,1224.0,1224,1224,1,7,1,2.0,576.0,131000,46,10
2925,6,0.0,819.0,1003.0,1003,1003,1,6,0,2.0,588.0,142500,22,22
2926,5,0.0,301.0,864.0,902,902,1,5,0,2.0,484.0,131000,23,23
2927,5,0.0,337.0,912.0,970,970,1,6,0,0.0,0.0,132000,14,14
2928,5,0.0,1071.0,1389.0,1389,1389,1,6,1,2.0,418.0,170000,32,31
2929,7,94.0,758.0,996.0,996,2000,2,9,1,3.0,650.0,188000,13,12

In [16]:
new_corr= sorted_values_2.corr()
sorted_values_2_corr= new_corr['SalePrice'].abs().sort_values()
sorted_values_2_corr

BsmtFin SF 1         0.439284
Fireplaces           0.474831
TotRms AbvGrd        0.498574
Mas Vnr Area         0.506983
Years Since Remod    0.534985
Full Bath            0.546118
Years Before Sale    0.558979
1st Flr SF           0.635185
Garage Area          0.641425
Total Bsmt SF        0.644012
Garage Cars          0.648361
Gr Liv Area          0.717596
Overall Qual         0.801206
SalePrice            1.000000
Name: SalePrice, dtype: float64

Which categorical columns should we keep?

In [17]:
## Creating a list of column names from documentation that are *meant* to be categorical
nominal_features = ["PID", "MS SubClass", "MS Zoning", "Street", "Alley", "Land Contour", "Lot Config", "Neighborhood", 
                    "Condition 1", "Condition 2", "Bldg Type", "House Style", "Roof Style", "Roof Matl", "Exterior 1st", 
                    "Exterior 2nd", "Mas Vnr Type", "Foundation", "Heating", "Central Air", "Garage Type", 
                    "Misc Feature", "Sale Type", "Sale Condition"]

We might ask ourselves at this stage : 

* Which columns are currently numerical but need to be encoded as categorical instead (because the numbers don't have any semantic meaning)?
* If a categorical column has hundreds of unique values (or categories), should we keep it? When we dummy code this column, hundreds of columns will need to be added back to the data frame.

In [18]:
## Which categorical columns have we still carried with us? We'll test these 
transform_cat_cols = []
for col in nominal_features:
    if col in transform_df.columns:
        transform_cat_cols.append(col)

## How many unique values in each categorical column?
uniqueness_counts = transform_df[transform_cat_cols].apply(lambda col: len(col.value_counts())).sort_values()
## Aribtrary cutoff of 10 unique values (worth experimenting)
drop_nonuniq_cols = uniqueness_counts[uniqueness_counts > 10].index
transform_df = transform_df.drop(drop_nonuniq_cols, axis=1)

In [19]:
## Selecting just the remaining text columns and convert to categorical
text_cols = transform_df.select_dtypes(include=['object'])
for col in text_cols:
    transform_df[col] = transform_df[col].astype('category')
    
## Creating dummy columns and adding back to the dataframe!
transform_df = pd.concat([
    transform_df, 
    pd.get_dummies(transform_df.select_dtypes(include=['category']))
], axis=1).drop(text_cols,axis=1)


## Control the type of Cross Validation

Let's add a parameter named k to the train_and_test function that controls the type of cross validation that occurs.

* When k equals 0, perform holdout validation (what we already implemented)
* When k equals 1, perform simple cross validation
* When k is greater than 0, perform k-fold cross validation

Let's now train and test using different k to figure out which K may have better result

In [24]:
def transform_features(df):
    num_missing = df.isnull().sum()
    drop_missing_cols = num_missing[(num_missing > len(df)/20)].sort_values()
    df = df.drop(drop_missing_cols.index, axis=1)
    
    text_mv_counts = df.select_dtypes(include=['object']).isnull().sum().sort_values(ascending=False)
    drop_missing_cols_2 = text_mv_counts[text_mv_counts > 0]
    df = df.drop(drop_missing_cols_2.index, axis=1)
    
    num_missing = df.select_dtypes(include=['int', 'float']).isnull().sum()
    fixable_numeric_cols = num_missing[(num_missing < len(df)/20) & (num_missing > 0)].sort_values()
    replacement_values_dict = df[fixable_numeric_cols.index].mode().to_dict(orient='records')[0]
    df = df.fillna(replacement_values_dict)
    
    years_sold = df['Yr Sold'] - df['Year Built']
    years_since_remod = df['Yr Sold'] - df['Year Remod/Add']
    df['Years Before Sale'] = years_sold
    df['Years Since Remod'] = years_since_remod
    df = df.drop([1702, 2180, 2181], axis=0)

    df = df.drop(["PID", "Order", "Mo Sold", "Sale Condition", "Sale Type", "Year Built", "Year Remod/Add"], axis=1)
    return df

def select_features(df, coeff_threshold=0.4, uniq_threshold=10):
    numerical_df = df.select_dtypes(include=['int', 'float'])
    abs_corr_coeffs = numerical_df.corr()['SalePrice'].abs().sort_values()
    df = df.drop(abs_corr_coeffs[abs_corr_coeffs < coeff_threshold].index, axis=1)
    
    nominal_features = ["PID", "MS SubClass", "MS Zoning", "Street", "Alley", "Land Contour", "Lot Config", "Neighborhood", 
                    "Condition 1", "Condition 2", "Bldg Type", "House Style", "Roof Style", "Roof Matl", "Exterior 1st", 
                    "Exterior 2nd", "Mas Vnr Type", "Foundation", "Heating", "Central Air", "Garage Type", 
                    "Misc Feature", "Sale Type", "Sale Condition"]
    
    transform_cat_cols = []
    for col in nominal_features:
        if col in df.columns:
            transform_cat_cols.append(col)

    uniqueness_counts = df[transform_cat_cols].apply(lambda col: len(col.value_counts())).sort_values()
    drop_nonuniq_cols = uniqueness_counts[uniqueness_counts > 10].index
    df = df.drop(drop_nonuniq_cols, axis=1)
    
    text_cols = df.select_dtypes(include=['object'])
    for col in text_cols:
        df[col] = df[col].astype('category')
    df = pd.concat([df, pd.get_dummies(df.select_dtypes(include=['category']))], axis=1).drop(text_cols,axis=1)
    
    return df

def train_and_test(df, k=0):
    numeric_df = df.select_dtypes(include=['integer', 'float'])
    features = numeric_df.columns.drop("SalePrice")
    lr = linear_model.LinearRegression()
    
    if k == 0:
        train = df[:1460]
        test = df[1460:]

        lr.fit(train[features], train["SalePrice"])
        predictions = lr.predict(test[features])
        mse = mean_squared_error(test["SalePrice"], predictions)
        rmse = np.sqrt(mse)

        return rmse
    
    if k == 1:
        # Randomize *all* rows (frac=1) from `df` and return
        shuffled_df = df.sample(frac=1, )
        train = df[:1460]
        test = df[1460:]
        
        lr.fit(train[features], train["SalePrice"])
        predictions_one = lr.predict(test[features])        
        
        mse_one = mean_squared_error(test["SalePrice"], predictions_one)
        rmse_one = np.sqrt(mse_one)
        
        lr.fit(test[features], test["SalePrice"])
        predictions_two = lr.predict(train[features])        
       
        mse_two = mean_squared_error(train["SalePrice"], predictions_two)
        rmse_two = np.sqrt(mse_two)
        
        avg_rmse = np.mean([rmse_one, rmse_two])
        print(rmse_one)
        print(rmse_two)
        return avg_rmse
    else:
        kf = KFold(n_splits=k, shuffle=True)
        rmse_values = []
        for train_index, test_index, in kf.split(df):
            train = df.iloc[train_index]
            test = df.iloc[test_index]
            lr.fit(train[features], train["SalePrice"])
            predictions = lr.predict(test[features])
            mse = mean_squared_error(test["SalePrice"], predictions)
            rmse = np.sqrt(mse)
            rmse_values.append(rmse)
        print(rmse_values)
        avg_rmse = np.mean(rmse_values)
        return avg_rmse

df = pd.read_csv("AmesHousing.tsv", delimiter="\t")
transform_df = transform_features(df)
filtered_df = select_features(transform_df)
rmse = train_and_test(filtered_df, k=4)

rmse

[27770.206478427117, 25616.538844971477, 26957.708083568552, 36732.98981727001]

29269.36080605929

## Conclusion

In this project, some feature engineering and feature selection techniques were used to make and select the proper features for Linear Regression Model.